.horizontal-card {
    display: flex;
    border: 2px solid;
    justify-content: space-between;
    width: 35rem
}

.horizontal-card-img {
    height: 12.5rem;
    width: 15.6rem;
    border-radius: 5px 0 0 5px;
}

.horizontal-card-contents {
    width:20rem;
}

.card-cart {
    margin-bottom: 2rem;
}

.side-bar { 
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: var(--bg-primary);
    color:var(--color-primary);
    width: 20rem;
    height: 18rem;
    position: sticky;
    top: 10px;
    border-radius: 5px;
}

.cart-container {
    display: flex;
    justify-content: space-between;
}

.left-cont {
    margin: 2rem;
}

.cart-empty {
    height: 100%;
}

.side-bar-values {
    /* position: absolute; */
    margin-left: auto;
    font-size: 1.2rem;
    right: 3rem;
}

.side-bar-text {
    display: flex;
    padding: 1rem;
}

.total {
    font-size: 1.4rem;
    color:var(--color-green)
}

.qty-btn {
    height: 1.5rem;
    width: 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.qty-cont {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

@media screen and (max-width : 950px) {
    .cart-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width : 750px) {

    .horizontal-card {
        width: 24.8rem;
    }
    .horizontal-card-img {
        width: 11.6rem;
        height: 13.5rem;
    }
}
