.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.card {
  width: 15rem;
}

.striken-text {
  text-decoration: line-through;
  font-size: 1rem;
}

.card-para {
  gap: 1rem;
}

.crd-btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding:1rem;
}

.product-page-content {
  display: flex;
  gap: 1rem;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  width: 10rem;
  flex-direction: column;
  margin: 10px;
  gap: 1rem;
}
