.category-input {
    margin-right: 5px;
}
  
  .filter-btn {
    border: none;
    padding: 10px;
    border: 2px solid var(--color-dark-blue);
    border-radius: 5px;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    width: 10rem;
    flex-direction: column;
    margin: 10px;
    gap: 1rem;
}

.toggle-resp {
    display: none;
    width: max-content;
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 5px;
    border: none  ;
}
  
  .resp-close-btn {
    width: fit-content;
    align-self: flex-end;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
}
  

@media screen and (max-width: 750px) {
  
    .left-container {
      position: absolute;
      z-index: 1;
      background-color: white;   
      margin: 0 auto;
      left: 0;
      right: 0;
      border-radius: 1rem;
    }
  
    .left-container-resp {
      display:none
    }
  
    .toggle-resp {
      display: block;
    }
  
    .resp-close-btn {
      display: inline;
    }
  
}