.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--bg-primary);
}

.brand-name {
    font-size: 32px;
    line-height: 150%;
    color: var(--color-primary);
}

.icon-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.link-product, .nav-btn {
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--color-primary);
}

.link-product > span {
    display: block;
}

.brand-name:hover, .link-product:hover, .nav-btn:hover {
    color: var(--color-light-gray);
}

@media screen and (max-width:600px) {
    .link-product > span {
        display: none;
    }
    
    .brand-name {
        font-size: 24px;
    }

}